.logo {
  float: left;
  padding-top: 7px;
}

.queue-item {
  font-size: 20px;
}
.queue-item .material-icons {
  font-size: 50px;
}

.queue-item .row {
  width: 100%;
  margin: 0;
}

.brand-logo .logo {
  margin-top: 7px;
}

.heart-icon {
  padding-top: 3px;
}
